PORT=3000
APP_ORIGIN=http://2.27.39.247:3000
TRUST_PROXY=false
COOKIE_SECURE=false

SESSION_SECRET=vpn-service-super-secret-2026-Y4nd3xGPT_s3cr3t_k3y_v5_pr0_2024
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Smesharik220699@

VPN_SERVER_ENDPOINT=2.27.39.247:51820
VPN_SERVER_PUBLIC_KEY=p7kTikvU9xpRb3Nw7+v44oxuDUGuQ0TpQnXg+YabxyY=
VPN_INTERFACE_NAME=wg0
VPN_SERVER_CONFIG_PATH=/etc/wireguard/wg0.conf
VPN_AUTO_APPLY_PEERS=true
VPN_RELOAD_MODE=syncconf
VPN_ALLOWED_IPS=0.0.0.0/0
VPN_CLIENT_DNS=1.1.1.1, 8.8.8.8